*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --color-background: #e5eaf5;
    --color-font: #494d5f;
    --color-warning: #d83694;
    --color-accent: #d0bdf4;
}

::selection {
    color: var(--color-background);
    background: var(--color-font);
}

body {
    background-color: var(--color-background);
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
}

.cards-page-container {
    min-height: 100vh;
    min-width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.3rem;
    color: var(--color-font);
}

.cards-page-message {
    text-align: center;
}

#cards-page-name {
    font-weight: 600;
}

.loading-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.cards-page-content {
    min-height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards-controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cards-controls-left-or-top-panel {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.cards-controls-right-or-bottom-panel {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.cards-type-selector, .cards-color-selector {
    font-size: 1.5rem;
    color: var(--color-font);
    background-color: var(--color-background);
    border-radius: 5px;
    text-align: center;
    padding: 0;
    margin: 0;
    /* This allows horizontal placement */
    white-space: normal;
    outline: none;
}

.cards-color-selector {
    height: 33px;
    width: 550px;
    overflow: hidden;
    border: none;
    margin-bottom: 20px;
}

.cards-type-selector {
    height: 220px;
    width: 550px;
    overflow: hidden;
    border: none;
    margin-bottom: 20px;
}

.cards-type-option, .cards-color-option {
    height: auto;
    width: 130px;
    font-weight: 500;
    border: none;
    background-color: var(--color-background);
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.cards-color-option {
    width: 110px;
}

.cards-type-option {
    width: 130px;
}

.cards-type-option:hover, .cards-color-option:hover {
    background-color: var(--color-accent);
}

.cards-name-filter-selector {
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: var(--color-background);
    width: 250px;
    height: 30px;
    color: var(--color-font);
    padding-left: 5px;
    box-shadow: none;
    text-align: center;
    border-radius: 5px;
    font-weight: 500;
    border: 1px solid var(--color-accent);
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

.cards-name-filter-selector:hover {
    background-color: var(--color-accent);
}

.cards-name-filter-selector:focus {
    outline: none;
}

.cards-alphabetical-sort {
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: var(--color-background);
    width: 250px;
    height: 30px;
    color: var(--color-font);
    box-shadow: none;
    text-align-last: center;
    text-align: center;
    border-radius: 5px;
    font-weight: 500;
    border: 1px solid var(--color-accent);
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

.cards-alphabetical-sort:hover {
    background-color: var(--color-accent);
}

.cards-number-of-cards-found {
    margin-bottom: 20px;
}

.cards-page-back-button {
    margin-bottom: 20px;
    border: none;
    background-color: var(--color-accent);
    color: var(--color-font);
    height: 46px;
    width: auto;
    border-radius: 5px;
    padding: 0 10px;
    cursor: pointer;
    transition: background-color 0.5s ease-in, color 0.5s ease-in;
}

.cards-page-back-button:hover {
    background-color: var(--color-font);
    color: var(--color-accent);
}

.cards-explanation {
    width: 80%;
    font-size: 1rem;
    opacity: 0.7;
    text-align: center;
}

.display-cards-container {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* Style only for Mozilla Firefox since it's the only browser that has issues with the Select horizontal styling*/

@-moz-document url-prefix() {
    .cards-type-selector, .cards-color-selector {
        height: 153px;
        width: 200px;
        white-space: wrap;
        border: 1px solid var(--color-accent);
    }
    .cards-type-option, .cards-color-option {
        height: auto;
        width: auto;
        border: none;
        display: block;
    }
}

/* For mobile devices only */

@media only screen and (pointer: coarse) {
    .cards-type-selector, .cards-color-selector {
        white-space: nowrap;
        width: 250px;
        height: 30px;
        overflow: auto;
        border: 1px solid var(--color-accent);
    }
    .cards-type-option, .cards-color-option {
        height: auto;
        width: auto;
    }
    .cards-page-container {
        width: 100%;
    }
}