:root {
    --color-background: #e5eaf5;
    --color-font: #494d5f;
    --color-warning: #d83694;
    --color-accent: #d0bdf4;
}

body {
    background-color: var(--color-background);
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
}

.cards-page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.cards-page-message {
    text-align: center;
}

#cards-page-name {
    font-weight: 600;
}

.cards-page-back-button {
    margin-top: 50px;
    border: none;
    background-color: var(--color-accent);
    color: var(--color-font);
    height: 46px;
    width: auto;
    border-radius: 5px;
    padding: 0 10px;
    cursor: pointer;
    transition: background-color 0.5s ease-in, color 0.5s ease-in;
}

.cards-page-back-button:hover {
    background-color: var(--color-font);
    color: var(--color-accent);
}

/* DELETE AFTER TESTING */

.the-class {
    font-size: 1rem;
}